<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/icon.png">
	<link rel="stylesheet" href="/panel/machine.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="<%= socketio %>/socket.io/socket.io.js"></script>
    <title><%= machine.id || "Server"%> - <%= settings.panelinfo.name || "Dolphin" %></title>
</head>
<body>
<% if(admin) { %> 
<a href="/admin/editservers/<%= machine.id %>"><img src="/panel/back.png" class="topbuttons"></a>
<% } else { %> <a href="/panel"><img src="/panel/back.png" class="topbuttons"></a> <% } %>
<a href="/logout"><img src="/panel/logout.png" style="float:right;" class="topbuttons"></a>
<center id="dolphinpaneltext"><%= settings.panelinfo.name || "Dolphin" %></center>
<center class="alertbox" id="alertbox"></center>
<br>
<div class="inhtml">
<div class="left-bar">
 <h3>Connections</h3>
 <div id="connections">
 <% if(machine.ports.mainport){ if(machine.ports.mainport.split(':').length > 1) machine.ports.mainport = machine.ports.mainport.split(':')[1] %><div id="buttonrdpdiv">
 <a class="buttonrdp" onclick="copy('<%= machine.ip %>'+':'+'<%= machine.ports.mainport %>','Rdp')">Rdp: <%= machine.ip+":"+machine.ports.mainport %></a>
 <br><br><br></div>
 <% }if(machine.ports.vnc){ %><div id="buttonvncdiv">
 <a class="buttonvnc" onclick="copy('<%= machine.ip %>'+':'+'<%= (5900+Number(machine.ports.vnc)) %>','Vnc')">Vnc: <%= machine.ip+":"+(5900+Number(machine.ports.vnc)) %></a>
 <br><br><br></div>
 <% }if(machine.ngrok){ %>
 <a class="buttonngrok" onclick="copyngrok()">Ngrok: Not connected</a><br><br><br>
 <% } %>
 <a id="ipbutton" class="buttonip" onclick="copy('<%= machine.ip %>','Ip')">Ip: <%= machine.ip %></a></div><br><br><br>
 <h3 style="margin-top: 15%;">Disks</h3><div id="disks"></div>
 <% if(machine.ports.port && machine.ports.port.length) { %><h3>Ports</h3><% } %>
 <div class="ports">
 <% if(machine.ports.port && machine.ports.port.length) { %>
 <% for (var i = 0; i < machine.ports.port.length; i++) { %>
 <a class="button" style="width:auto;" ><%= machine.ports.port[i].panelport %></a>
 <% }} %></div>
</div><div class="right-bar">
 <h3>System</h3>
 <a class="button" id="systemstatus"></a>
 <a class="button" id="systemsos"></a>
 <a class="button" id="systemsuser"onclick="copyusername()"></a>
 <a class="button" id="systemspassword"onclick="openpassword()">
 Click to see the password</a>
 <a class="button" id="infosystem">Cpu:<%= machine.cpu %> Core</a>
 <% if(Number(machine.ram) > 1024) { %>
 <a class="button" id="infosystem">Ram:<%= (Number(machine.ram)/1024).toFixed(0) %> Gb</a>
 <% } else { %><a class="button" id="infosystem">Ram:<%= machine.ram %> Mb</a><% } %>
  <a class="button2"  id="infosystemlogs" href="<%= machine.id %>/logs">Logs</a>
 <br><br><br><br><br><br><br><br><br><h3 class="sa">Controls</h3>
 <a class="button2" onclick="start()" id="startbutton">Start</a>
 <a class="button2" onclick="shutdown()" id="shutdownbutton">Shutdown</a>
 <a class="button2" onclick="reset()" id="resetbutton">Reset</a>
 <a onclick="reboot()" class="button2" id="alertbutton">Reboot</a><br><br>
 <select class="selectmenu" id="selectmenu">
 <% for (var i = 0; i < os.length; i++) { %>
 <option><%= os[i].name %></option>
 <% } %>
 </select>
 <a class="button2" onclick="setup()" id="alertbutton">Install</a>
 <br><br><br><br><br><br><br>
 <div class="cpuchart">
 <h3 id="cputext"></h3>
 <canvas id="cpu-chart" class="canvas"></canvas>
 </div><br><div class="ramchart">
 <h3 id="ramtext"></h3>
 <canvas id="ram-chart" class="canvas"></canvas>
 </div>
</div></div>
<script>//ejs to js
 var ejs = {
 disks:JSON.parse(("<%= JSON.stringify(machine.disks) %>").split("&#34;").join('"')),
 userinfo:JSON.parse(("<%= JSON.stringify(userinfo) %>").split("&#34;").join('"')),
 createdtime:"<%= machine.createdtime %>",
 machinename:"<%= machine.id %>",
 gill:"<%= machine.ip %>",
 socket:"<%= socketio %>",
 machineid:"<%= machine.id %>"
 }
</script>
<% if(admin) { %><script>
var auth = {type:"admin",admin:ejs.userinfo,name:ejs.machineid}
</script><% } else { %><script>
var auth = {type:"panelusers",password:ejs.userinfo.password,mail:ejs.userinfo.mail,createdtime:ejs.createdtime,name:ejs.machinename}
</script><% } %>
<script src="/panel/machine.js"></script>
</body>
</html>