<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/icon.png">
	<link rel="stylesheet" href="/panel/panel.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
    <title>Servers - <%= settings.panelinfo.name || "Dolphin" %></title>
</head>
<body>
<a class="topbuttons" style="width:auto;height: auto;"><%= usersettings.mail %></a>
<a href="/logout"><img src="/panel/logout.png" style="float:right;" class="topbuttons"></a>
<center id="dolphinpaneltext"><%= settings.panelinfo.name || "Dolphin" %></center>
<br>
<div><br><br><br><br><br><br><br><br><br>
    <a class="cal"></a><br><br><br>
    <a class="clock"></a>
</div>
<div class="inhtml"><h1 id="alertbox">You dont have any machines</h1>
</div>
<script>
if(JSON.parse(("<%= JSON.stringify(servers) %>").split("&#34;").join('"')).length) {
  document.getElementById("alertbox").style.display="none"
}
JSON.parse(("<%= JSON.stringify(servers) %>").split("&#34;").join('"')).map((x)=>{
$(".inhtml").append(`
<div class="machine" onclick="window.location.href='machine/${x.id}'">
    <a style="color:#03a5fc">${x.id}</a>
    <a style="float:right;">${moment(Number(x.createdtime)).format("L")}</a><br><br>
    <a>Ip:${x.ip},Cpu:${x.cpu},Ram:${x.ram}</a>
</div><br>
`)
})
try{
document.querySelector(".cal").innerHTML = moment().format('l')
document.querySelector(".clock").innerHTML = moment().format('LT');
setInterval(()=>{
 document.querySelector(".cal").innerHTML = moment().format('l')
 document.querySelector(".clock").innerHTML = moment().format('LT');
},1000)}catch{}
</script>
</body>
</html>